page-vista-ficha-paciente {
  .home{
    background: rgba(147,206,222,1);
    background: -moz-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(147,206,222,1) 22%, rgba(121,191,211,1) 80%, rgba(117,189,209,1) 84%, rgba(73,165,191,1) 90%);
    background: -webkit-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(147,206,222,1) 22%, rgba(121,191,211,1) 80%, rgba(117,189,209,1) 84%, rgba(73,165,191,1) 90%);
    background: -o-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(147,206,222,1) 22%, rgba(121,191,211,1) 80%, rgba(117,189,209,1) 84%, rgba(73,165,191,1) 90%);
    background: -ms-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(147,206,222,1) 22%, rgba(121,191,211,1) 80%, rgba(117,189,209,1) 84%, rgba(73,165,191,1) 90%);
    background: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(147,206,222,1) 22%, rgba(121,191,211,1) 80%, rgba(117,189,209,1) 84%, rgba(73,165,191,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=0 );
  }
  ion-header{
    ion-title{
      text-align: center;
    }
  }
  #foto-paciente{
    float:left;
  }
  #grid-datos{
    width: auto;
    ion-col{
      padding: 0;
    }
    h3{
      font-size:0.8em;
      font-weight: normal;
      span{
        font-size: 1em;
        font-weight: bold;
      }
    }
  }
  #label-diags{
    margin:0;
    h2{
      font-size: 1.2em;
      padding: 0;
      margin:0;
      text-align: center;
    }
  }
  #diags-list{
    ion-card{
      background-color: transparent;
      width: 100%;
      margin: 0;
      padding: 0;
      ion-card-header{
        background-color: rgba(0,0,0,0.4);
      }
    }
      span{
        width: 100%;
        float:left;
        padding: 0;
      }
      .ellipsis{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
  }
  #medical-buttons{
    position: fixed;
    z-index: 9999;
    bottom:5px;

  }
}
