<ion-header >
  <ion-navbar color="primary">
    <button  ion-button="" menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista de peticion de citas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <h1 class="textoCentrado azul margenBot">Listado de citas pendientes</h1>
  <ul class="listaCitas">
    <li class="elementoListaCitas" *ngFor="let cita of citas" (click)="accederCita(cita.$key, cita.uidPaciente, cita.estado, cita.espec, cita.medicoAsignado)">
      <p class="negrita" *ngIf="cita.estado == 'cambio'">Tipo: CAMBIO</p>
      <p *ngIf="cita.estado == 'cambio' || cita.estado == 'espera'"><span class="azul negrita">Título:</span><span class="negrita"> {{cita["title"]}}</span></p>
      <p *ngIf="cita.estado == 'cambio' || cita.estado == 'espera'"><span class="azul">Especialidad demandada:</span><span> {{cita.espec}}</span></p>
      <p *ngIf="cita.estado == 'cambio' || cita.estado == 'espera'"><span class="azul">Fecha de la demanda:</span><span> {{cita.fecha}}</span></p>
    </li>
  </ul>

</ion-content>
