page-medicoscita-admin {
    .azul {
        color: #387ef5 !important; 
    }
    .listaMedicos {
        list-style-type: none;
        margin: 0;
        padding: 20px;
        background-color: #DDEEF9;
        border-bottom: 1px solid #2388c7; }
    .elementoListaMecicos {
        border-top: 1px solid #2388c7; 
    }
    .textoCentrado {
        text-align: center; 
    }
    .margenBot {
        margin-bottom: 10px; 
    }
    .home {
        background: #93cede;
        background: -moz-linear-gradient(top, #93cede 0%, #93cede 22%, #79bfd3 63%, #75bdd1 69%, #49a5bf 78%);
        background: -webkit-linear-gradient(top, #93cede 0%, #93cede 22%, #79bfd3 63%, #75bdd1 69%, #49a5bf 78%);
        background: -o-linear-gradient(top, #93cede 0%, #93cede 22%, #79bfd3 63%, #75bdd1 69%, #49a5bf 78%);
        background: -ms-linear-gradient(top, #93cede 0%, #93cede 22%, #79bfd3 63%, #75bdd1 69%, #49a5bf 78%);
        background: linear-gradient(to bottom, #93cede 0%, #93cede 22%, #79bfd3 63%, #75bdd1 69%, #49a5bf 78%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=0 ); 
    }
    p {
        font-size: 120%;
          line-height: 25px; 
    }
    .negrita {
        font-weight: 500; 
    }

}

