<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>

    </button>
    <ion-title>
      Historial pacientes
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-menu [content]="content" id="menu2">
  <ion-header>
    <ion-toolbar>
      <ion-title>Perfil</ion-title>
      <img class="circle" src="//ionicframework.com/img/docs/spengler.jpg">
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <h1 menuClose ion-item *ngFor="let p of menus">
        {{p.title}}
      </h1>
    </ion-list>

    <ion-buttons>
      <button ion-button class="logout" (click)="logOut()">LogOut</button>
    </ion-buttons>
  </ion-content>

</ion-menu>

<ion-content padding class="home">
  <ion-list class="principal" align="center" margin-top="80px">
    <ion-buttons>
      <button ion-button class="button-width" outline>Gestionar cuenta</button>
    </ion-buttons>
    <ion-buttons>
      <button ion-button class="button-width" outline (click)="buscar()">Gestionar cita</button>
    </ion-buttons>
  </ion-list>
  <div id="logo">
    <img src="assets/images/logo.png" alt="" class="logo">
  </div>

  <ion-searchbar></ion-searchbar>
  <ion-list>
   <ion-item *ngFor="let item of arraypacientes">
      {{item.name}}
    </ion-item>>
  </ion-list>

</ion-content>

<ion-nav #content ></ion-nav>
